__pycache__/
*.py[cod]
*.log
*.pot
*.pyc
.env
venv/
.venv/
env/
db.sqlite3
*.db
/staticfiles/
# Host data directory created by docker compose (db + media)
/data/
*.css.map
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
node_modules/
